<!DOCTYPE html>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-primary card-outline">
        <div class="card-body">

          <div class="form-row">

            <div class="form-group col-md-2">
            <label for="member">스탬프상태*</label>
            </div>
            <div class="form-group col-md-10">
              <div class="form-check">
              <label class="radio-inline">&nbsp;<input type="radio" name="status" id="status1" value="사용" checked>&nbsp;&nbsp;사용&nbsp;&nbsp;</label>
              <label class="radio-inline">&nbsp;<input type="radio" name="status" id="status2" value="중지">&nbsp;&nbsp;중지&nbsp;&nbsp;</label>
              </div>
            </div>

            <div class="form-group col-md-2">
            <label for="member">스탬프카드적립수량*</label>
            </div>
            <div class="form-group col-md-2">
              <div class="input-group dropdown">
                <button id="btn-stamp" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">10</button>
                <div id="stamp" class="dropdown-menu">
                  <a class="dropdown-item">5</a>
                  <a class="dropdown-item">10</a>
                  <a class="dropdown-item">15</a>
                </div>
              </div>
            </div>
            <div class="form-group col-md-8"></div>

            <div class="form-group col-md-2">
            <label for="limits">적립조건(금액)*</label>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group">
                <input id="limits" type="text" class="form-control" value="" placeholder="3800">
              </div>
            </div>
            <div class="form-group col-md-7"><span class="form-comment">이상 적립조건(금액)을 입력해주세요</span></div>

            <div class="form-group col-md-2">
            <label for="overagain">중복적립여부*</label>
            </div>
            <div class="form-group col-md-10">
              <div class="input-group dropdown">
                <button id="btn-overagain" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">가능</button>
                <div id="overagain" class="dropdown-menu">
                  <a class="dropdown-item">가능</a>
                  <a class="dropdown-item">불가</a>
                </div>
              </div>
            </div>

            <div class="form-group col-md-2">
            <label for="member">혜택</label>
            </div>
            <div class="form-group col-md-10">
              <div class="input-group">
                <textarea id="benefit" class="form-control" rows="5"></textarea>
              </div>
            </div>

            <div class="form-group col-md-2">
            <label for="member">유의사항*</label>
            </div>
            <div class="form-group col-md-10">
              <div class="input-group">
                <textarea id="notice" class="form-control" rows="5"></textarea>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <button id="search" class="btn btn-default" hidden>검색</button>
              <button id="update" class="btn btn-default" style="float: right;">수정</button>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <div id="results"></div>
              <div id="pageid" style="display: none;">member-stamp-search</div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>



