<!DOCTYPE html>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card card-primary card-outline">
          <div class="card-body">
            <p class="card-text">

<form>
<div class="form-row"> 
  <div class="form-group col-md-1">
  <label for="coupon">가맹점</label>
  </div>

  <div class="form-group col-md-3">
    <div class="input-group">
      <div class="input-group-prepend"><div class="input-group-text">가맹점 ID</div></div>
      <input id="email" type="text" class="form-control" name="email" value="<%= member['id'] %>" placeholder="가맹점 ID" disabled>
    </div>
  </div>
  <div class="form-group offset-md-1 col-md-3">
    <div class="input-group">
      <div class="input-group-prepend"><div class="input-group-text">상호</div></div>
      <input type="text" class="form-control" name="name" value="<%= member['name'] %>" placeholder="상호" disabled>
    </div>
  </div>
  <div class="form-group offset-md-1 col-md-3">
  </div>

  <div class="form-group col-md-1">
  <label for="coupon">쿠폰</label>
  </div>

  <div class="form-group col-md-3">
    <div class="input-group">
      <div class="input-group-prepend"><div class="input-group-text">종류</div></div>
      <button id="button-coupon-type" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All</button>
      <div id="dropdown-coupon-type" class="dropdown-menu">
        <a class="dropdown-item" href="#">All</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Reward</a>
        <a class="dropdown-item" href="#">Stamp</a>
        <a class="dropdown-item" href="#">Promotion</a>
      </div>
    </div>
  </div>

  <div class="form-group offset-md-1 col-md-3">
    <div class="input-group">
      <div class="input-group-prepend"><div class="input-group-text">쿠폰명</div></div>
      <input type="text" class="form-control" name="name" value="" placeholder="쿠폰명">
    </div>
  </div>

  <div class="form-group offset-md-1 col-md-3">
    <div class="input-group">
      <div class="input-group-prepend"><div class="input-group-text">사용</div></div>
      <button id="button-coupon-used" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All</button>
      <div id="dropdown-coupon-used" class="dropdown-menu">
        <a class="dropdown-item">All</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item">Yes</a>
        <a class="dropdown-item">No</a>
      </div>
    </div>
  </div>

  <div class="form-group offset-md-11 col-md-1">
    <button name="search" id="button-search" type="button" class="btn btn-primary w-100">검색</button>
  </div>
</form>

<div class="col-md-12">
  <div id="description" style="display: none;">page-member-coupon-search</div>
  <hr>
  <div id="result"></div>
</div>

            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

