<!DOCTYPE html>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-primary card-outline">
        <div class="card-body">

          <div class="form-row">

            <div class="form-group col-md-3">
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">가맹점</div></div>
                <input id="name" type="text" class="form-control" value="" placeholder="사업자번호/상호">
              </div>
            </div>
            <div class="form-group col-md-1"></div>

            <div class="form-group col-md-2">
              <div class="input-group dropdown">
                <div class="input-group-prepend"><div class="input-group-text">버전</div></div>

                <button id="btn-version" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">전체</button>
                <div id="version" class="dropdown-menu">
                  <a class="dropdown-item">전체</a>
                  <div role="separator" class="dropdown-divider"></div>
                  <a class="dropdown-item">승인</a>
                  <a class="dropdown-item">미승인</a>
                </div>
              </div>
            </div>

            <div class="form-group col-md-3">
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">라이선스상태</div></div>

                <button id="btn-status" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">전체</button>
                <div id="dropUsed" class="dropdown-menu">
                  <a class="dropdown-item">전체</a>
                  <div role="separator" class="dropdown-divider"></div>
                  <a class="dropdown-item">승인</a>
                  <a class="dropdown-item">미승인</a>
                </div>
              </div>
            </div>

            <div class="form-group col-md-3">
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">통신상태</div></div>

                <button id="btn-network" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">전체</button>
                <div id="dropUsed" class="dropdown-menu">
                  <a class="dropdown-item">전체</a>
                  <div role="separator" class="dropdown-divider"></div>
                  <a class="dropdown-item">정상</a>
                  <a class="dropdown-item">에러</a>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <button id="search" class="btn btn-default" style="float: right;">검색</button>
            </div>
          </div>
          <hr>

          <div class="form-row">
            <div class="form-group col-md-12">
              <div id="results"></div>
              <div id="pageid" style="display: none;">admin-pos-monitor</div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <button id="history" class="btn btn-default" style="float: right;">변경이력조회</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-monitor-detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">

          <h5>POS Agent 라이선스 상세정보</h5>
          <hr>

          <div class="form-row">

            <div class="form-group col-md-2">
            <label for="m-rcn">사업자번호</label>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group">
                <input id="m-rcn" type="text" class="form-control" value="" disabled>
              </div>
            </div>

            <div class="form-group col-md-7"><span id="cpcode-valid" hidden>0</span><span id="cpcode-valid-comment" class="form-comment"></span></div>

            <div class="form-group col-md-2">
            <label for="m-member">가맹점상호*</label>
            </div>
            <div class="form-group col-md-7">
              <div class="input-group">
                <input id="m-member" type="text" class="form-control" value="" placeholder="가맹점상호명" disabled>
              </div>
            </div>
            <div class="form-group col-md-3"></div>



            <div class="form-group col-md-2">
            <label for="member">상태*</label>
            </div>
            <div class="form-group col-md-3">
              <div class="form-check">
              <label class="radio-inline">&nbsp;<input type="radio" name="m-status" id="m-status1" value="승인" checked>&nbsp;&nbsp;승인&nbsp;&nbsp;</label>
              <label class="radio-inline">&nbsp;<input type="radio" name="m-status" id="m-status2" value="미승인">&nbsp;&nbsp;미승인&nbsp;&nbsp;</label>
              </div>
            </div>
            <div class="form-group col-md-7"></div>

            <div class="form-group col-md-2">
            <label for="m-version">POS Agent 버전</label>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group">
                <input id="m-version" type="text" class="form-control" value="" disabled>
              </div>
            </div>
            <div class="form-group col-md-7"></div>

            <div class="form-group col-md-2">
            <label for="m-mac">하드웨어주소</label>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group">
                <input id="m-mac" type="text" class="form-control" value="" disabled>
              </div>
            </div>
            <div class="form-group col-md-7"></div>

            <div class="form-group col-md-2">
            <label for="m-license">라이선스</label>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group">
                <input id="m-license" type="text" class="form-control" value="" disabled>
              </div>
            </div>
            <div class="form-group col-md-7"></div>

            <div class="form-group col-md-2">
            <label for="m-updated">접속일시</label>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group">
                <input id="m-updated" type="text" class="form-control" value="" disabled>
              </div>
            </div>
            <div class="form-group col-md-7"></div>

            <div class="form-group col-md-2">
            <label for="m-registered">등록일시</label>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group">
                <input id="m-registered" type="text" class="form-control" value="" disabled>
              </div>
            </div>
            <div class="form-group col-md-7"></div>

          </div>

          <hr>
          <div class="form-row">
            <div class="form-group col-md-6">
              <button type="button" class="btn btn-default" data-dismiss="modal" style="float: left;">닫기</button>
            </div>
            <div class="form-group col-md-6">
              <span style="float: right;">
              <button id="m-update" class="btn btn-default">수정</button>
              </span>
            </div>
          </div>

      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modal-monitor-hist-detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable  modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-body">

        <h5>쿠폰 변경이력 조회</h5>
        <hr>
        <div class="form-row">

          <div class="form-group col-md-1">
          <label for="member">이력필터</label>
          </div>

          <div class="form-group col-md-4">
            <div class="input-group">
              <div class="input-group-prepend"><div class="input-group-text text-left">사용자</div></div>
              <input id="m-rcn" type="text" class="form-control" placeholder="사용자">
            </div>
          </div>
          <div class="form-group col-md-7">
            <div class="input-group">
              <div class="input-group-prepend"><div class="input-group-text text-left">거래일</div></div>
              <input type="text" id="date1" class="form-control datetimepicker-input" data-target="#date1" placeholder="YYYY-MM-DD" data-inputmask='"mask": "9999-99-99"' data-mask>
              <div class="input-group-append" data-target="#date1" data-toggle="datetimepicker">
                <div class="input-subgroup-text"><i class="fa fa-calendar-alt fa-lg"></i></div>
              </div>
              <input type="text" id="date2" class="form-control datetimepicker-input" placeholder="YYYY-MM-DD" data-inputmask='"mask": "9999-99-99"' data-mask>
              <div class="input-group-append" data-target="#date2" data-toggle="datetimepicker">
                <div class="input-subgroup-text"><i class="fa fa-calendar-alt fa-lg"></i></div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <button id="search"  class="btn btn-default" style="float: right;">검색</button>
          </div>
        </div>
        <hr>

        <div class="form-row">
          <div class="form-group col-md-12">
            <div id="m-hist-results"></div>
          </div>
        </div>

        <hr>
        <div class="form-row">
          <div class="form-group col-md-12">
            <button type="button" class="btn btn-default" style="float: left;" data-dismiss="modal">닫기</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

