<!DOCTYPE html>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-primary card-outline">
        <div class="card-body">
        <form>
          <table class="table">
          <tbody>
            <tr>
              <th class="label" rowspan="2">쿠폰</th>
              <td>종류</td>
              <td>
              <select class="form-select" aria-label="Default select example">
                <option value="전체">전체</option>
                <option value="리워드">리워드</option>
                <option value="스템프">스템프</option>
                <option value="프로모션">프로모션</option>
              </select>
              </td>
              <td>쿠폰명</td>
              <td>
              <input class="input_member" type="text">
              </td>
              <td>상태</td>
              <td>
              <select class="form-select" aria-label="Default select example">
                <option value="사용">사용</option>
                <option value="중지">중지</option>
              </select>
              </td>
            </tr>
            <tr>
              <td>기간</td>
              <td>
                <div class="input-group">
                  <input id="coupon-begin-date" type="text" class="input_date form-control float-right" value="" placeholder="YYYY.MM.DD">
                  <div class="input-group-append" data-target="#coupon-begin-date" data-toggle="datetimepicker"><div class="input-subgroup-text"><i class="fa fa-calendar-alt fa-lg"></i></div></div>

                  <input id="coupon-end-date" type="text" class="input_date form-control float-right" value="" placeholder="YYYY.MM.DD">
                  <div class="input-group-append" data-target="#coupon-end-date" data-toggle="datetimepicker"><div class="input-subgroup-text"><i class="fa fa-calendar-alt fa-lg"></i></div></div>
                </div>
              </td>
              <td colspan="4"></td>
            </tr>
          </tbody>
          <table>
          <button id="form-profile" type="submit" class="btn btn-primary btn-save" style="float: right;">검색</button>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="results"></div>
<div id="description" style="display: none;">page-member-search</div>


