SERVER=https://tric.kr
DB_HOSTNAME=localhost
DB_USERNAME=sqladmin 
DB_PASSWORD=admin 
DB_DATABASE=hancom

PORT_HTTP=80
PORT_HTTPS=443

WS_PORT=8081
GRPC_PORT=8082

MAIL_USERNAME=popup@naver.com
MAIL_PASSWORD=aq175312#$

NBP_ACCESS_KEY=4bh1xKJRPx0V2MAknS3j
NBP_SECRET_KEY=FQPF2IFjX0bBBV8ncOvMyherzIS5cSFmowreo2sM
SMS_SERVICE_ID=ncp:sms:kr:256512353365:receipt
SMS_SECRET_KEY=731d096a29814f3d8a5a3acc4182a1ba

KEY_FCM=AAAAP6AQ0Yk:APA91bEZldRU5ToIrof_JO4c5T1XAbgkXy4dSrdpWZm7HyFqhgT98Ls2TlE2PsXq8WZ44GaAz0oseAtSI1RlJPAqpKXgowdfCkJnu2tXW1m_DFw2qzybbc-q3oqsVjk7m7xxRth6RoR6

VERBOSE=true

GOOGLE_API_KEY=AIzaSyDndqINgUgGs6gENZOWErhIP1bVCQwSf6k


GOOGLE_CLIENT_ID=470048913968-vnv04r2u8m2vfddcvbvefo5vkv6oo170.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=jBcqE1qqwU7pMUGklFFbHuZC
GOOGLE_SCOPE=["openid", "email"]
GOOGLE_CALLBACK_URL=https://tric.kr/auth/google/callback

