<!DOCTYPE html>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-primary card-outline">
        <div class="card-body">

          <div class="form-row">

            <div class="form-group col-md-1">
            <label for="member">쿠폰코드*</label>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group">
                <input id="cpcode" type="text" class="form-control" name="email" value="" placeholder="쿠폰코드">
              </div>
            </div>

            <div class="form-group col-md-3">
              <button id="coupon-generate" class="btn btn-outline-secondary" type="button">자동생성</button>
              <button id="coupon-checkup"  class="btn btn-outline-secondary" type="button">코드확인</button>
            </div>
            <div class="form-group col-md-5"><span id="cpcode-valid" hidden>0</span><span id="cpcode-valid-comment" class="form-comment"></span></div>

            <div class="form-group col-md-1">
            <label for="member">쿠폰유형</label>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group dropdown">
                <button id="btn-ctype" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">선택</button>
                <div id="ctype" class="dropdown-menu">
                  <a class="dropdown-item ctype-item">리워드</a>
                  <a class="dropdown-item ctype-item">스탬프</a>
                  <a class="dropdown-item ctype-item">프로모션</a>
                </div>
              </div>
            </div>
            <div class="form-group col-md-8"></div>

            <div class="form-group col-md-1">
            <label for="cpname">쿠폰명*</label>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group">
                <input id="cpname" type="text" class="form-control" name="email" value="" placeholder="쿠폰명">
              </div>
            </div>
            <div class="form-group col-md-8"></div>



            <div class="form-group col-md-1">
            <label for="member">상태*</label>
            </div>
            <div class="form-group col-md-3">
              <div class="form-check">
              <label class="radio-inline">&nbsp;<input type="radio" name="status" value="사용" checked>&nbsp;&nbsp;사용&nbsp;&nbsp;</label>
              <label class="radio-inline">&nbsp;<input type="radio" name="status" value="중지">&nbsp;&nbsp;중지&nbsp;&nbsp;</label>
              </div>
            </div>
            <div class="form-group col-md-8"></div>

            <div class="form-group col-md-1 cond-reward-coupon" style="display: none;">
            <label for="member">발급조건*</label>
            </div>
            <div class="form-group col-md-3 cond-reward-coupon" style="display: none;">
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">금액</div></div>
                <input id="cash" type="text" class="form-control" name="email" value="" placeholder="1원 이상">
              </div>
            </div>
            <div class="form-group col-md-8 cond-reward-coupon" style="display: none;"></div>

            <div class="form-group col-md-1 cond-stamp-coupon" style="display: none;">
            <label for="member">발급조건*</label>
            </div>
            <div class="form-group col-md-3 cond-stamp-coupon" style="display: none;">
              <div class="input-group dropdown">
                <div class="input-group-prepend"><div class="input-group-text">스탬프수</div></div>

                <button id="btn-stamp" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">10</button>
                <div id="dropUsed" class="dropdown-menu">
                  <a class="dropdown-item">10</a>
                </div>
              </div>
            </div>
            <div class="form-group col-md-8 cond-stamp-coupon" style="display: none;"></div>

            <div class="form-group col-md-1 cond-promotion-coupon" style="display: none;">
            <label for="member">발급조건*</label>
            </div>
            <div class="form-group col-md-3 cond-promotion-coupon" style="display: none;">
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">없음</div></div>
              </div>
            </div>
            <div class="form-group col-md-8 cond-promotion-coupon" style="display: none;"></div>


            <div class="form-group col-md-1">
            <label for="days">유효기간*</label>
            </div>
            <div class="form-group col-md-5">
              <div class="input-group">
                <input type="text" id="date1" class="form-control datetimepicker-input" data-target="#date1" placeholder="YYYY-MM-DD" data-inputmask='"mask": "9999-99-99"' data-mask>
                <div class="input-group-append" data-target="#date1" data-toggle="datetimepicker">
                  <div class="input-subgroup-text"><i class="fa fa-calendar-alt fa-lg"></i></div>
                </div>
                <input type="text" id="date2" class="form-control datetimepicker-input date2-area" placeholder="YYYY-MM-DD" data-inputmask='"mask": "9999-99-99"' data-mask>
                <div class="input-group-append date2-area" data-target="#date2" data-toggle="datetimepicker">
                  <div class="input-subgroup-text"><i class="fa fa-calendar-alt fa-lg"></i></div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <div class="input-group">
	        <label class="checkbox-inline">&nbsp;<input type="checkbox" id="no-date2" value="종료일제한없음">&nbsp;&nbsp;종료일 제한없음&nbsp;&nbsp;</label>
              </div>
            </div>

            <div class="form-group col-md-1">
            <label for="benefit">혜택*</label>
            </div>
            <div class="form-group col-md-11">
              <div class="input-group">
                <textarea id="benefit" class="form-control" rows="3"></textarea>
              </div>
            </div>

            <div class="form-group col-md-1">
            <label for="notice">유의사항*</label>
            </div>
            <div class="form-group col-md-11">
              <div class="input-group">
                <textarea id="notice" class="form-control" rows="3"></textarea>
              </div>
            </div>

          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <button id="list"     class="btn btn-default" style="float: left;" >목록</button>
              <button id="register" class="btn btn-default" style="float: right;">등록</button>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <div id="results"></div>
              <div id="pageid" style="display: none;">member-coupon-register</div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>

