<!DOCTYPE html>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-primary card-outline">
        <div class="card-body">

          <div class="form-row">

            <div class="form-group col-md-1">
            <label for="member">쿠폰</label>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group dropdown">
                <div class="input-group-prepend"><div class="input-group-text">상태</div></div>

                <button id="btn-ctype" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">전체</button>
                <div id="ctype" class="dropdown-menu">
                  <a class="dropdown-item">전체</a>
                  <div role="separator" class="dropdown-divider"></div>
                  <a class="dropdown-item">리워드</a>
                  <a class="dropdown-item">스탬프</a>
                  <a class="dropdown-item">프로모션</a>
                </div>
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">쿠폰명</div></div>
                <input id="name" type="text" class="form-control" name="email" value="" placeholder="쿠폰명">
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group dropdown">
                <div class="input-group-prepend"><div class="input-group-text">상태</div></div>

                <button id="btn-status" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">전체</button>
                <div id="status" class="dropdown-menu">
                  <a class="dropdown-item">전체</a>
                  <div role="separator" class="dropdown-divider"></div>
                  <a class="dropdown-item">사용</a>
                  <a class="dropdown-item">중지</a>
                </div>
              </div>
            </div>
            <div class="form-group col-md-2"></div>

            <div class="form-group offset-md-1 col-md-5">
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text text-left">수정일</div></div>
                <input type="text" id="date1" class="form-control datetimepicker-input" data-target="#date1" placeholder="YYYY-MM-DD" data-inputmask='"mask": "9999-99-99"' data-mask>
                <div class="input-group-append" data-target="#date1" data-toggle="datetimepicker">
                  <div class="input-subgroup-text"><i class="fa fa-calendar-alt fa-lg"></i></div>
                </div>
                <input type="text" id="date2" class="form-control datetimepicker-input" placeholder="YYYY-MM-DD" data-inputmask='"mask": "9999-99-99"' data-mask>
                <div class="input-group-append" data-target="#date2" data-toggle="datetimepicker">
                  <div class="input-subgroup-text"><i class="fa fa-calendar-alt fa-lg"></i></div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-6"></div>


          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <button id="search" class="btn btn-default" style="float: right;">검색</button>
            </div>
          </div>
          <hr>

          <div class="form-row">
            <div class="form-group col-md-12">
              <div id="results"></div>
              <div id="pageid" style="display: none;">member-coupon-search</div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <button id="register" class="btn btn-default" style="float: left;" >등록</button>
              <button id="history" class="btn btn-default" style="float: right;">변경이력조회</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-member-coupon" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">

          <h5> 가맹점 쿠폰 상세정보</h5>
          <hr>

          <div class="form-row">
            <div class="form-group col-md-3">
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="member">상태</label>
                </div>
                <div class="form-group col-md-12">
                  <img id="m-qr" src="" style="width: 100%;">
                </div>
              </div>
            </div>
            <div class="form-group offset-md-1 col-md-8">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <div class="form-check">
                  <label class="radio-inline">&nbsp;<input type="radio" name="m-status" id="m-status1" value="사용" checked>&nbsp;&nbsp;사용&nbsp;&nbsp;</label>
                  <label class="radio-inline">&nbsp;<input type="radio" name="m-status" id="m-status2" value="중지">&nbsp;&nbsp;중지&nbsp;&nbsp;</label>
                  </div>
                </div>
                <div class="form-group col-md-6"></div>
  

                <div class="form-group col-md-3">
                <label for="member">유형</label>
                </div>
                <div class="form-group col-md-9">
                <input id="m-id" type="hidden" class="form-control">
                <input id="m-ctype" type="text" class="form-control" disabled>
                </div>

                <div class="form-group col-md-3">
                <label for="member">쿠폰명</label>
                </div>
                <div class="form-group col-md-9">
                <input id="m-name" type="text" class="form-control" disabled>
                </div>

                <div class="form-group col-md-3">
                <label for="member">발급조건</label>
                </div>
                <div class="form-group col-md-9">
                <input id="m-cond" type="text" class="form-control" disabled>
                </div>

                <div class="form-group col-md-3">
                <label for="member">유효기간</label>
                </div>
                <div class="form-group col-md-9">
                <input id="m-date" type="text" class="form-control" disabled>
                </div>

                <div class="form-group col-md-3">
                <label for="member">혜택</label>
                </div>
                <div class="form-group col-md-9">
                  <div class="input-group">
                    <textarea id="m-benefit" class="form-control" rows="5" disabled></textarea>
                  </div>
                </div>

                <div class="form-group col-md-3">
                <label for="member">유의사항</label>
                </div>
                <div class="form-group col-md-9">
                  <div class="input-group">
                    <textarea id="m-notice" class="form-control" rows="5" disabled></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="form-row">
            <div class="form-group col-md-6">
              <button id="m-close" onclick="javascript:window.location.reload()" type="button" class="btn btn-default" data-dismiss="modal" style="float: left;">닫기</button>
            </div>
            <div class="form-group col-md-6">
              <span style="float: right;">
              <button id="m-delete" class="btn btn-default">삭제</button>
              <button id="m-update" class="btn btn-default">수정</button>
              </span>
            </div>
          </div>

      </div>
    </div>
  </div>
</div>



