<!DOCTYPE html>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-primary card-outline">
        <div class="card-body">


          <div class="form-row">

            <div class="form-group col-md-1">
            <label for="member">기간</label>
            </div>
            <div class="form-group col-md-5">
              <div class="input-group">
                <input type="text" id="date1" class="form-control datetimepicker-input" data-target="#date1" placeholder="YYYY-MM-DD" data-inputmask='"mask": "9999-99-99"' data-mask>
                <div class="input-group-append" data-target="#date1" data-toggle="datetimepicker">
                  <div class="input-subgroup-text"><i class="fa fa-calendar-alt fa-lg"></i></div>
                </div>
                <input type="text" id="date2" class="form-control datetimepicker-input" placeholder="YYYY-MM-DD" data-inputmask='"mask": "9999-99-99"' data-mask>
                <div class="input-group-append" data-target="#date2" data-toggle="datetimepicker">
                  <div class="input-subgroup-text"><i class="fa fa-calendar-alt fa-lg"></i></div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <div class="form-check">
              <label class="radio-inline">&nbsp;<input type="radio" id="status" name="status" value="일" checked>&nbsp;&nbsp;일&nbsp;&nbsp;</label>
              <label class="radio-inline">&nbsp;<input type="radio" id="status" name="status" value="주">&nbsp;&nbsp;주&nbsp;&nbsp;</label>
              <label class="radio-inline">&nbsp;<input type="radio" id="status" name="status" value="월">&nbsp;&nbsp;월&nbsp;&nbsp;</label>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <button id="search" class="btn btn-default" style="float: right;">검색</button>
            </div>
          </div>
          <hr>

          <div class="form-row">
            <div class="form-group col-md-12">
              <div id="results"></div>
              <div id="pageid" style="display: none;">admin-user-join-search</div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>


