<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Html-Qrcode Demo</title>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Ropa+Sans" rel="stylesheet">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon.ico">
  <style>
    body {
      font-family: 'Ropa Sans', sans-serif;
      color: #333;
      max-width: 640px;
      margin: 0 auto;
      position: relative;
    }

    #githubLink {
      position: absolute;
      right: 0;
      top: 12px;
      color: #2D99FF;
    }

    h1 {
      margin: 10px 0;
      font-size: 40px;
    }

    #loadingMessage {
      text-align: center;
      padding: 40px;
      background-color: #eee;
    }

    #canvas {
      width: 100%;
    }

    #output {
      margin-top: 20px;
      background: #eee;
      padding: 10px;
      padding-bottom: 0;
    }

    #output div {
      padding-bottom: 10px;
      word-wrap: break-word;
    }

    #noQRFound {
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="container-fluid">
  <div class="row">
    <div id="qr-reader" style="width:100%"></div>
    <div id="qr-reader-results" style="width:100%"></div>
  </div>
  </div>
</body>
<!--
<script src="https://unpkg.com/html5-qrcode/minified/html5-qrcode.min.js"></script>
-->
<script src="/js/html5-qrcode.js"></script>
<script>
  function docReady(fn) {
    if (document.readyState === "complete"
      || document.readyState === "interactive") {
      setTimeout(fn, 1);
    } else {
      document.addEventListener("DOMContentLoaded", fn);
    }
  }

  docReady(function () {
    var resultContainer = document.getElementById('qr-reader-results');
    var lastResult, lastEmail, countResults = 0;

    function onScanSuccess(qrCodeMessage) {
      if (qrCodeMessage !== lastResult && (qrCodeMessage.indexOf('Q') >= 0 || qrCodeMessage.indexOf('C') >= 0 || qrCodeMessage.indexOf('-') >= 0)) {
        ++countResults;
        lastResult = qrCodeMessage;
        //resultContainer.innerHTML += `<div>[${countResults}] - ${qrCodeMessage}</div>`;
        resultContainer.innerHTML = `Finding. ${qrCodeMessage}`;

        resultContainer.innerHTML = ``;

        var license = <%= License %>;
        $.getJSON( "/issue/" + license + "/" + qrCodeMessage, function( data ) {
          console.log(data);
          if(data.code == 200) {
            resultContainer.innerHTML = `인증되었습니다. (${data.data.qrcode}, ${data.data.email})`;
            var audio = new Audio('/data/speech.mp3');
            audio.play();
          }
          else {
            resultContainer.innerHTML = `인증이 실패하였습니다. (${data.data.qrcode}, ${data.data.email})`;
          }
        });
      }
    }
    var html5QrcodeScanner = new Html5QrcodeScanner("qr-reader", { fps: 10, qrbox: 250 });
    html5QrcodeScanner.render(onScanSuccess);
  });
</script>
</head>
</html>
