<!DOCTYPE html>
<div class="container-fluid">
  <div class="row">
    <div class="offset-lg-4 col-lg-4">
      <div class="card">
        <div class="card-body"><h5 class="m-0"> 
          <div class="input-group date" id="reservationdate" data-target-input="nearest">
            <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-chevron-left"></i></span></div>
            <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate"/>
            <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-calendar"></i></div> 
            </div>
            <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-chevron-right"></i></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <div class="card card-primary card-outline">
        <div class="card-header"><h5 class="m-0">사용자</h5></div>
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </p>
          <a href="#" class="card-link">자세히보기 <i class="right fas fa-angle-double-right"></i></a>
        </div>
      </div><!-- /.card -->
    </div>

    <div class="col-lg-3">
      <div class="card card-primary card-outline">
        <div class="card-header"><h5 class="m-0">가맹점</h5></div>
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </p>
          <a href="#" class="card-link">자세히보기 <i class="right fas fa-angle-double-right"></i></a>
        </div>
      </div><!-- /.card -->
    </div>

    <div class="col-lg-3">
      <div class="card card-primary card-outline">
        <div class="card-header"><h5 class="m-0">관리자</h5></div>
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </p>
          <a href="#" class="card-link">자세히보기 <i class="right fas fa-angle-double-right"></i></a>
        </div>
      </div><!-- /.card -->
    </div>

    <div class="col-lg-3">
      <div class="card card-primary card-outline">
        <div class="card-header"><h5 class="m-0">이벤트/광고 쿠폰 사용</h5></div>
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </p>
          <a href="#" class="card-link">자세히보기 <i class="right fas fa-angle-double-right"></i></a>
        </div>
      </div><!-- /.card -->
    </div>

    <div class="col-lg-3">
      <div class="card card-primary card-outline">
        <div class="card-header"><h5 class="m-0">거래금액</h5></div>
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </p>
        </div>
      </div><!-- /.card -->
    </div>
    <div class="col-lg-3">
      <div class="card card-primary card-outline">
        <div class="card-header"><h5 class="m-0">쿠폰 사용</h5></div>
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </p>
        </div>
      </div><!-- /.card -->
    </div>
    <div class="col-lg-3">
      <div class="card card-primary card-outline">
        <div class="card-header"><h5 class="m-0">스탬프</h5></div>
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </p>
        </div>
      </div><!-- /.card -->
    </div>

  </div>
  <!-- /.row -->
</div><!-- /.container-fluid -->
