<!DOCTYPE html>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-primary card-outline">
        <div class="card-body">

          <h5>가맹점 정보</h5>
          <hr>
          <div class="form-row">

            <div class="form-group col-md-1">
            <label for="rcn">사업자번호*</label>
            </div>
            <div class="form-group col-md-2">
              <div class="input-group">
                <input id="rcn" type="text" class="form-control" value="" placeholder="사업자번호">
              </div>
            </div>

            <div class="form-group col-md-9">
              <button id="rcn-check" class="btn btn-outline-secondary" type="button">사업자번호확인</button>&nbsp;&nbsp;<span id="rcn-comment" class="form-comment"></span>
              <input type="hidden" id="rcn-valid" value="0">
            </div>

            <div class="form-group col-md-1">
            <label for="member">비밀번호*</label>
            </div>
            <div class="form-group col-md-5">
              <div class="input-group">
                <input id="password1" type="password" class="form-control" name="password1" value="" placeholder="비밀번호">&nbsp;&nbsp;
                <input id="password2" type="password" class="form-control" name="password2" value="" placeholder="비밀번호">
              </div>
            </div>
            <div class="form-group col-md-6"><span id="password-comment" class="form-comment"></span></div>


            <div class="form-group col-md-1">
            <label for="name">가맹점상호*</label>
            </div>
            <div class="form-group col-md-4">
              <div class="input-group">
                <input id="name" type="text" class="form-control" value="" placeholder="가맹점상호">
              </div>
            </div>
            <div class="form-group col-md-7"></div>



            <div class="form-group col-md-1">
            <label for="owner">대표자명*</label>
            </div>
            <div class="form-group col-md-2">
              <div class="input-group">
                <input id="owner" type="text" class="form-control" value="" placeholder="대표자명">
              </div>
            </div>
            <div class="form-group col-md-9"><span id="area-comment" class="form-comment">대표자명을 입력해주세요</span></div>

            <div class="form-group col-md-1">
            <label for="bztype">업태/업종</label>
            </div>
            <div class="form-group col-md-2">
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">업태</div></div>
                <input id="bzcond" type="text" class="form-control" value="" placeholder="업태">
              </div>
            </div>
            <div class="form-group col-md-2">
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">업종</div></div>
                <input id="bztype" type="text" class="form-control" value="" placeholder="업종">
              </div>
            </div>
            <div class="form-group col-md-7"></div>

            <div class="form-group col-md-1">
            <label for="bzname">업종명*</label>
            </div>
            <div class="form-group col-md-2">
              <div class="input-group dropdown">
                <button id="btn-bzname" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">선택</button>
                <div id="bzname" class="dropdown-menu">
                </div>
              </div>
            </div>
            <div class="form-group col-md-9"><span id="bizname-comment" class="form-comment">업종분류코드를 선택해주세요</span></div>

            <div class="form-group col-md-1">
            <label for="owner">연락처*</label>
            </div>
            <div class="form-group col-md-2">
              <div class="input-group">
                <input id="phone" type="text" class="form-control" value="" placeholder="연락처">
              </div>
            </div>
            <div class="form-group col-md-9"><span id="phone-comment" class="form-comment">연락처를 입력해주세요</span></div>

            <div class="form-group col-md-1">
            <label for="bztype">개업년월일</label>
            </div>
            <div class="form-group col-md-2">
              <div class="input-group">
                <input type="text" id="date1" class="form-control datetimepicker-input" data-target="#date1" placeholder="YYYY-MM-DD" data-inputmask='"mask": "9999-99-99"' data-mask>
                <div class="input-group-append" data-target="#date1" data-toggle="datetimepicker">
                  <div class="input-subgroup-text"><i class="fa fa-calendar-alt fa-lg"></i></div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-9"></div>

            <div class="form-group col-md-1">
            <label for="owner">지역*</label>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group dropdown">
                <button id="btn-area1" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">선택</button>
                <div id="area1" class="dropdown-menu">
                </div>&nbsp;&nbsp;
                <span>
                <button id="btn-area2" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">선택</button>
                <div id="area2" class="dropdown-menu">
                </div>
                </span>
              </div>
            </div>
            <div class="form-group col-md-8"><span id="area-comment" class="form-comment">지역을 선택해주세요</span></div>

            <div class="form-group col-md-1">
            <label for="addr">주소*</label>
            </div>
            <div class="form-group col-md-8">
              <div class="input-group">
                <input id="addr" type="text" class="form-control" value="" placeholder="주소">
                <input type="hidden" id="lat" value="0">
                <input type="hidden" id="lng" value="0">
              </div>
            </div>
            <div class="form-group col-md-3"></div>
          </div>

          <div class="form-row">
            <div class="form-group offset-md-1 col-md-8">
              <div id="map-canvas" class="img-fluid"></div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <button id="list" class="btn btn-default" style="float: left;">목록&nbsp;&nbsp;<i class="fas fa-search fa-xs"></i></button>
              <button id="register" class="btn btn-default" style="float: right;">등록&nbsp;&nbsp;<i class="fas fa-edit fa-xs"></i></button>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <div id="results"></div>
              <div id="pageid" style="display: none;">admin-member-register</div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


