<!DOCTYPE html>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-primary card-outline">
        <div class="card-body">

          <div class="form-row">

            <div class="form-group col-md-2">
            <label for="member">가맹점</label>
            </div>
            <div class="form-group col-md-4">
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">가맹점</div></div>
                <input id="rcn" type="text" class="form-control" value="" placeholder="사업자번호">
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group dropdown">
                <div class="input-group-prepend"><div class="input-group-text">상태</div></div>
  
                <button id="stat" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">전체</button>
                <div id="dropUsed" class="dropdown-menu">
                  <a class="dropdown-item">전체</a>
                  <div role="separator" class="dropdown-divider"></div>
                  <a class="dropdown-item">가입</a>
                  <a class="dropdown-item">해지</a>
                </div>
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group dropdown">
                <div class="input-group-prepend"><div class="input-group-text">지역</div></div>

                <button id="btn-area1" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">전체</button>
                <div id="area1" class="dropdown-menu">
                </div>&nbsp;&nbsp;
                <span>
                <button id="btn-area2" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">전체</button>
                <div id="area2" class="dropdown-menu">
                </div>
                </span>
              </div>
            </div>

            <div class="form-group offset-md-2 col-md-5">
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text text-left">수정일</div></div>
                <input type="text" id="date1" class="form-control datetimepicker-input" data-target="#date1" placeholder="YYYY-MM-DD" data-inputmask='"mask": "9999-99-99"' data-mask>
                <div class="input-group-append" data-target="#date1" data-toggle="datetimepicker">
                  <div class="input-subgroup-text"><i class="fa fa-calendar-alt fa-lg"></i></div>
                </div>
                <input type="text" id="date2" class="form-control datetimepicker-input" placeholder="YYYY-MM-DD" data-inputmask='"mask": "9999-99-99"' data-mask>
                <div class="input-group-append" data-target="#date2" data-toggle="datetimepicker">
                  <div class="input-subgroup-text"><i class="fa fa-calendar-alt fa-lg"></i></div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group col-md-5"></div>
  
          <div class="form-row">
            <div class="form-group col-md-12">
              <button id="search" class="btn btn-default" style="float: right;">검색</button>
            </div>
          </div>
          <hr>

          <div class="form-row">
            <div class="form-group col-md-12">
              <div id="results"></div>
              <div id="pageid" style="display: none;">admin-member-search</div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <button id="register" class="btn btn-default" style="float: left;">등록</i></button>
              <button id="history" class="btn btn-default" style="float: right;">가맹점 변경이력조회</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modal-member-detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable  modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-body">


          <h5>가맹점 상세정보</h5>
          <hr>
          <div class="form-row">

            <div class="form-group col-md-2">
            <label for="status">상태*</label>
            </div>
            <div class="form-group col-md-10">
              <div class="form-check">
              <label class="radio-inline">&nbsp;<input type="radio" id="m-status1" name="m-status" value="가입" checked>&nbsp;&nbsp;가입&nbsp;&nbsp;</label>
              <label class="radio-inline">&nbsp;<input type="radio" id="m-status2" name="m-status" value="해지">&nbsp;&nbsp;해지&nbsp;&nbsp;</label>
              </div>
            </div>

            <div class="form-group col-md-2">
            <label for="exposure">노출여부*</label>
            </div>
            <div class="form-group col-md-10">
              <div class="form-check">
              <label class="radio-inline">&nbsp;<input type="radio" id="m-exposure1" name="m-exposure" value="노출" checked>&nbsp;&nbsp;노출&nbsp;&nbsp;</label>
              <label class="radio-inline">&nbsp;<input type="radio" id="m-exposure2" name="m-exposure" value="숨김">&nbsp;&nbsp;숨김&nbsp;&nbsp;</label>
              </div>
            </div>

            <div class="form-group col-md-2">
            <label for="rcn">사업자번호</label>
            </div>
            <div class="form-group col-md-4">
              <div class="input-group">
                <input id="m-rcn" type="text" class="form-control" disabled>
              </div>
            </div>
            <div class="form-group col-md-6"></span></div>

            <div class="form-group col-md-2">
            <label for="member">비밀번호</label>
            </div>
            <div class="form-group col-md-10">
              <button id="m-password" class="btn btn-outline-secondary" type="button">비밀번호변경</button>
            </div>

            <div class="form-group col-md-2">
            <label for="m-name">가맹점상호</label>
            </div>
            <div class="form-group col-md-4">
              <div class="input-group">
                <input id="m-name" type="text" class="form-control">
              </div>
            </div>
            <div class="form-group col-md-6"></div>

            <div class="form-group col-md-2">
            <label for="m-owner">대표자명</label>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group">
                <input id="m-owner" type="text" class="form-control" value="" placeholder="대표자명">
              </div>
            </div>
            <div class="form-group col-md-7"><span id="area-comment" class="form-comment">대표자명을 입력해주세요</span></div>

            <div class="form-group col-md-2">
            <label for="m-bzcond">업태/업종</label>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">업태</div></div>
                <input id="m-bzcond" type="text" class="form-control" value="" placeholder="업태">
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">업종</div></div>
                <input id="m-bztype" type="text" class="form-control" value="" placeholder="업종">
              </div>
            </div>
            <div class="form-group col-md-4"></div>

            <div class="form-group col-md-2">
            <label for="m-bzname">업종명</label>
            </div>
            <div class="form-group col-md-2">
              <div class="input-group dropdown">
                <button id="btn-m-bzname" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">선택</button>
                <div id="m-bzname" class="dropdown-menu">
                </div>
              </div>
            </div>
            <div class="form-group col-md-8"><span id="bizname-comment" class="form-comment">업종분류코드를 선택해주세요</span></div>

            <div class="form-group col-md-2">
            <label for="m-phone">연락처</label>
            </div>
            <div class="form-group col-md-2">
              <div class="input-group">
                <input id="m-phone" type="text" class="form-control" value="" placeholder="연락처">
              </div>
            </div>
            <div class="form-group col-md-8"><span id="phone-comment" class="form-comment">연락처를 입력해주세요</span></div>

            <div class="form-group col-md-2">
            <label for="m-date1">개업년월일</label>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group">
                <input type="text" id="m-date1" class="form-control datetimepicker-input" data-target="#m-date1" placeholder="YYYY-MM-DD" data-inputmask='"mask": "9999-99-99"' data-mask>
                <div class="input-group-append" data-target="#m-date1" data-toggle="datetimepicker">
                  <div class="input-subgroup-text"><i class="fa fa-calendar-alt fa-lg"></i></div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-7"></div>

            <div class="form-group col-md-2">
            <label for="owner">지역</label>
            </div>
            <div class="form-group col-md-4">
              <div class="input-group dropdown">
                <button id="btn-m-area1" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">선택</button>
                <div id="m-area1" class="dropdown-menu">
                </div>&nbsp;&nbsp;
                <span>
                <button id="btn-m-area2" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">선택</button>
                <div id="m-area2" class="dropdown-menu">
                </div>
                </span>
              </div>
            </div>
            <div class="form-group col-md-6"><span id="area-comment" class="form-comment">지역을 선택해주세요</span></div>

            <div class="form-group col-md-2">
            <label for="addr">주소</label>
            </div>
            <div class="form-group col-md-8">
              <div class="input-group">
                <input id="addr" type="text" class="form-control" value="" placeholder="주소">
                <input type="hidden" id="lat" value="0">
                <input type="hidden" id="lng" value="0">
              </div>
            </div>
            <div class="form-group col-md-2"></div>

          </div>

          <div class="form-row">
            <div class="form-group offset-md-2 col-md-8">
              <div id="map-canvas" class="img-fluid"></div>
            </div>
          </div>

          <hr>
          <div class="form-row">
            <div class="form-group col-md-6">
              <button type="button" class="btn btn-default" data-dismiss="modal" style="float: left;">닫기</button>
            </div>
            <div class="form-group col-md-6">
              <span style="float: right;">
              <button id="m-delete" class="btn btn-default">삭제</button>
              <button id="m-update" class="btn btn-default">수정</button>
              </span>
            </div>
          </div>

      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modal-member-hist-detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable  modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-body">

          <h5>가맹점 로그조회</h5>
          <hr>
          <div class="form-row">

            <div class="form-group col-md-2">
            <label for="rcn">조회필터</label>
            </div>
            <div class="form-group col-md-1">
            <label for="member">수정자</label>
            </div>
            <div class="form-group col-md-9">
              <div class="input-group">
              <div class="form-check">
                <label class="radio-inline">&nbsp;<input type="radio" id="ftotal" name="range" value="전체" checked>&nbsp;&nbsp;전체&nbsp;&nbsp;</label>
                <label class="radio-inline">&nbsp;<input type="radio" id="fpartial" name="range" value="일부">&nbsp;&nbsp;일부&nbsp;&nbsp;</label>

                <label for="member">(</label>
                <label class="checkbox-inline">&nbsp;<input type="checkbox" id="fadmin"  name="whose" value="가맹점">&nbsp;&nbsp;가맹점&nbsp;&nbsp;</label>
                <label class="checkbox-inline">&nbsp;<input type="checkbox" id="fmember" name="whose" value="관리자">&nbsp;&nbsp;관리자&nbsp;&nbsp;</label>
              </div>
              <div class="input-group-append date2-area" data-target="#date2" data-toggle="datetimepicker">
                <input type="text" class="form-control">
              </div>
                <label for="member">)</label>
            </div>
            </div>

            <div class="form-group offset-md-2 col-md-5">
              <div class="input-group">
                <input type="text" id="m-date7" class="form-control datetimepicker-input" data-target="#m-date7" placeholder="YYYY-MM-DD" data-inputmask='"mask": "9999-99-99"' data-mask>
                <div class="input-group-append" data-target="#m-date7" data-toggle="datetimepicker">
                  <div class="input-subgroup-text"><i class="fa fa-calendar-alt fa-lg"></i></div>
                </div>
                <input type="text" id="m-date8" class="form-control datetimepicker-input" data-target="#m-date8" placeholder="YYYY-MM-DD" data-inputmask='"mask": "9999-99-99"' data-mask>
                <div class="input-group-append" data-target="#m-date8" data-toggle="datetimepicker">
                  <div class="input-subgroup-text"><i class="fa fa-calendar-alt fa-lg"></i></div>
                </div>
                </span>
              </div>
            </div>
            <div class="form-group col-md-5"></div>



            <div class="form-group col-md-2">
            <label for="member">조회대상</label>
            </div>
            <div class="form-group col-md-10">
              <label class="checkbox-inline">&nbsp;<input type="checkbox" id="fmain" value="메인">&nbsp;&nbsp;가맹점&nbsp;&nbsp;</label>
              <label class="checkbox-inline">&nbsp;<input type="checkbox" id="fmain" value="메인">&nbsp;&nbsp;쿠폰&nbsp;&nbsp;</label>
              <label class="checkbox-inline">&nbsp;<input type="checkbox" id="fmain" value="메인">&nbsp;&nbsp;스탬프&nbsp;&nbsp;</label>
              <label class="checkbox-inline">&nbsp;<input type="checkbox" id="fevent" value="이벤트">&nbsp;&nbsp;광고&nbsp;&nbsp;</label>
            </div>

            <div class="form-group offset-md-2 col-md-1">
            <label for="member">검색어</label>
            </div>
            <div class="form-group col-md-6">
              <input type="text" class="form-control">
            </div>
            <div class="form-group col-md-3"></div>

        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <button id="search"  class="btn btn-default" style="float: right;">검색</button>
          </div>
        </div>
        <hr>

        <div class="form-row">
          <div class="form-group col-md-12">
            <div id="m-hist-results">1</div>
          </div>
        </div>

        <hr>
        <div class="form-row">
          <div class="form-group col-md-12">
            <button type="button" class="btn btn-default" style="float: left;" data-dismiss="modal">닫기</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-password-change" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">비밀번호 변경</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-row">

          <div class="form-group col-md-3">
          <label for="passwd">비밀번호</label>
          </div>
          <div class="form-group col-md-4">
            <div class="input-group">
              <input id="m-password1" type="password" class="form-control" value="" placeholder="********">
            </div>
          </div>
          <div class="form-group col-md-5"><span id="area-comment" class="form-comment">비밀번호를 입력해주세요</span></div>

          <div class="form-group offset-md-3 col-md-4">
            <div class="input-group">
              <input id="m-password2" type="password" class="form-control" value="" placeholder="********">
            </div>
          </div>
          <div class="form-group col-md-5"><span id="m-password-comment" class="form-comment"></span></div>

        </div>
        <hr>
        <div class="form-row">
          <div class="form-group col-md-12">
            <button type="button" class="btn btn-default" style="float: left;" data-dismiss="modal">닫기</button>
            <button id="m-passwd-update" type="button" class="btn btn-default" style="float: right;">비밀번호변경</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

