<!DOCTYPE html>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-primary card-outline">
        <div class="card-body">

          <h5>이벤트/광고 정보</h5>
          <hr>
          <div class="form-row">
            <div class="form-group col-md-1">
            <label for="member">이벤트명</label>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group">
                <input id="name" type="text" class="form-control" name="email" value="" placeholder="이벤트명">
              </div>
            </div>
            <div class="form-group col-md-8"></div>


            <div class="form-group col-md-1">
            <label for="member">상태</label>
            </div>
            <div class="form-group col-md-3">
              <div class="form-check">
              <label class="radio-inline">&nbsp;<input type="radio" name="radio" id="play" value="사용" checked>&nbsp;&nbsp;사용&nbsp;&nbsp;</label>
              <label class="radio-inline">&nbsp;<input type="radio" name="radio" id="stop" value="중지">&nbsp;&nbsp;중지&nbsp;&nbsp;</label>
              </div>
            </div>
            <div class="form-group col-md-8"></div>


            <div class="form-group col-md-1">
            <label for="member">노출위치</label>
            </div>
            <div class="form-group col-md-11">
              <div class="input-group">
                <label class="checkbox-inline">&nbsp;<input type="checkbox" id="inlineCheckbox1" value="option1">&nbsp;&nbsp;공지/광고&nbsp;&nbsp;(가중치&nbsp;&nbsp;</label>
                <button id="stat" class="btn btn-outline-secondary dropdown-toggle btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">전체</button>
                <div id="dropUsed" class="dropdown-menu">
                  <a class="dropdown-item">1</a>
                  <a class="dropdown-item">2</a>
                  <a class="dropdown-item">3</a>
                </div>
                <label>&nbsp;&nbsp;)&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <label class="checkbox-inline">&nbsp;<input type="checkbox" id="inlineCheckbox1" value="option1">&nbsp;&nbsp;메인&nbsp;&nbsp;</label>
                <label class="checkbox-inline">&nbsp;<input type="checkbox" id="inlineCheckbox1" value="option1">&nbsp;&nbsp;이벤트&nbsp;&nbsp;</label>
              </div>
            </div>


            <div class="form-group col-md-1">
            <label for="member">노출대상</label>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group dropdown">
                <div class="input-group-prepend"><div class="input-group-text">상태</div></div>

                <button id="gender" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">전체</button>
                <div id="dropUsed" class="dropdown-menu">
                  <a class="dropdown-item">전체</a>
                  <div role="separator" class="dropdown-divider"></div>
                  <a class="dropdown-item">남</a>
                  <a class="dropdown-item">녀</a>
                </div>
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group dropdown">
                <div class="input-group-prepend"><div class="input-group-text">나이</div></div>

                <button id="age" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">전체</button>
                <div id="dropUsed" class="dropdown-menu">
                  <a class="dropdown-item">전체</a>
                  <div role="separator" class="dropdown-divider"></div>
                  <a class="dropdown-item">10대</a>
                  <a class="dropdown-item">20대</a>
                  <a class="dropdown-item">30대</a>
                  <a class="dropdown-item">40대</a>
                  <a class="dropdown-item">50대</a>
                  <a class="dropdown-item">60대</a>
                  <a class="dropdown-item">70대</a>
                </div>
              </div>
            </div>

            <div class="form-group col-md-5">
              <div class="input-group dropdown">
                <div class="input-group-prepend"><div class="input-group-text">지역</div></div>
                <button id="btn-area1" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">전체</button>
                <div id="area1" class="dropdown-menu">
                </div>&nbsp;&nbsp;
                <span>
                <button id="btn-area2" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">전체</button>
                <div id="area2" class="dropdown-menu">
                </div>
                </span>
              </div>
            </div>

            <div class="form-group col-md-1">
            <label for="member">이벤트기간</label>
            </div>
            <div class="form-group col-md-5">
              <div class="input-group">
                <input type="text" id="date1" class="form-control datetimepicker-input" data-target="#date1" placeholder="YYYY-MM-DD" data-inputmask='"mask": "9999-99-99"' data-mask>
                <div class="input-group-append" data-target="#date1" data-toggle="datetimepicker">
                  <div class="input-subgroup-text"><i class="fa fa-calendar-alt fa-lg"></i></div>
                </div>
                <input type="text" id="date2" class="form-control datetimepicker-input" placeholder="YYYY-MM-DD" data-inputmask='"mask": "9999-99-99"' data-mask>
                <div class="input-group-append" data-target="#date2" data-toggle="datetimepicker">
                  <div class="input-subgroup-text"><i class="fa fa-calendar-alt fa-lg"></i></div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-6"></div>


            <div class="form-group col-md-1">
            <label for="member">이미지</label>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">이벤트배너</div></div>
                <input type="file" class="form-control" name="sampleFile" />
              </div>
            </div>
            <div class="form-group col-md-8"></div>

            <div class="form-group offset-md-1 col-md-3">
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">상세이미지</div></div>
                <input type="file" class="form-control" name="sampleFile" />
              </div>
            </div>
            <div class="form-group col-md-8"></div>
          </div>


          <h5>앱 네비게이션 컬러 정보</h5>
          <hr>
          <div class="form-row">

            <div class="form-group col-md-1">
            <label for="member">이미지</label>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">상단</div></div>
                <input type="text" id="color1" class="form-control colorpicker-element" data-colorpicker-id="1" data-original-title="" title="">
              </div>
            </div>
            <div class="form-group col-md-8"></div>

            <div class="form-group offset-md-1 col-md-3">
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">하단</div></div>
                <input type="text" id="color2" class="form-control colorpicker-element" data-colorpicker-id="1" data-original-title="" title="">
              </div>
            </div>
            <div class="form-group col-md-8"></div>

          </div>


          <h5>쿠폰 정보</h5>
          <hr>
          <div class="form-row">

            <div class="form-group col-md-1">
            <label for="member">쿠폰명</label>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group">
              <button id="stat" class="btn btn-outline-secondary">쿠폰선택</button>
              </div>
            </div>
            <div class="form-group col-md-8"></div>

            <div class="form-group col-md-1">
            <label for="member">유효기간</label>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group">
              </div>
            </div>
            <div class="form-group col-md-8"></div>

          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <div id="results"></div>
              <div id="pageid" style="display: none;">event-register</div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <button id="list"     class="btn btn-default" style="float: left;"  >목록</button>
              <button id="register" class="btn btn-primary" style="float: right;" >등록</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

