<!DOCTYPE html>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-primary card-outline">
        <div class="card-body">
        <form>
          <h5>이벤트/광고 정보</h5>
          <table class="table">
          <tbody>
            <tr>
              <th class="label">이벤트명</th>
              <td colspan="2">
              <input class="input_member" type="text">
              </td>
            </tr>
            <tr>
              <th class="label">상태</th>
              <td colspan="2">
              <label class="radio-inline">&nbsp;<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="사용">&nbsp;&nbsp;사용&nbsp;&nbsp;</label>
              <label class="radio-inline">&nbsp;<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="중지">&nbsp;&nbsp;중지&nbsp;&nbsp;</label>
              </td>
            </tr>
            <tr>
              <th class="label">노출위치</th>
              <td colspan="2">
	          <label class="checkbox-inline">&nbsp;<input type="checkbox" id="inlineCheckbox1" value="option1">&nbsp;&nbsp;공지/광고&nbsp;&nbsp;</label>
                  (가중치
                  <select class="form-select" aria-label="Default select example">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                  )
	          <label class="checkbox-inline">&nbsp;<input type="checkbox" id="inlineCheckbox1" value="option1">&nbsp;&nbsp;메인&nbsp;&nbsp;</label>
	          <label class="checkbox-inline">&nbsp;<input type="checkbox" id="inlineCheckbox1" value="option1">&nbsp;&nbsp;이벤트&nbsp;&nbsp;</label>
              </td>
            </tr>
            <tr>
              <th class="label" rowspan="3">노출대상</th>
              <td class="title">성별</td>
              <td>
              <select class="form-select" aria-label="Default select example">
                <option value="전체">전체</option>
                <option value="남">남</option>
                <option value="녀">녀</option>
              </select>
              </td>
            </tr>
            <tr>
              <td class="title">나이</td>
              <td>
              <select class="form-select" aria-label="Default select example">
                <option value="전체">전체</option>
                <option value="10대">10대</option>
                <option value="20대">20대</option>
                <option value="30대">30대</option>
                <option value="40대">40대</option>
                <option value="50대">50대</option>
                <option value="60대">60대</option>
                <option value="70대">70대</option>
              </select>
              </td>

            </tr>
            <tr>
              <td class="title">지역</td>
              <td>
              <select class="form-select" aria-label="Default select example">
                <option value="전체">전체</option>
              </select>
              <select class="form-select" aria-label="Default select example">
                <option value="전체">전체</option>
              </select>
              </td>
            </tr>
            <tr>
              <th class="label">이벤트기간</th>
              <td colspan="2">
                <div class="input-group">
                  <input id="coupon-begin-date" type="text" class="input_date form-control float-right" value="" placeholder="YYYY.MM.DD">
                  <div class="input-group-append" data-target="#coupon-begin-date" data-toggle="datetimepicker"><div class="input-subgroup-text"><i class="fa fa-calendar-alt fa-lg"></i></div></div>

                  <input id="coupon-end-date" type="text" class="input_date form-control float-right" value="" placeholder="YYYY.MM.DD">
                  <div class="input-group-append" data-target="#coupon-end-date" data-toggle="datetimepicker"><div class="input-subgroup-text"><i class="fa fa-calendar-alt fa-lg"></i></div></div>
	          <label class="checkbox-inline">&nbsp;<input type="checkbox" id="inlineCheckbox1" value="option1">&nbsp;&nbsp;종료일 제한없음&nbsp;&nbsp;</label>
                </div>
              </td>
            </tr>

            <tr>
              <th class="label" rowspan="2">이미지</th>
              <td class="title-lg">이벤트배너</td>
              <td><input type="file" name="sampleFile" /><td>
            </tr>
            <tr>
              <td class="title-lg">상세이미지</td>
              <td><input type="file" name="sampleFile" /><td>
            </tr>
          </tbody>
          <table>
          <button id="form-profile" type="button" class="btn btn-default btn-save" style="float: left;">목록</button>
          <button id="form-profile" type="submit" class="btn btn-primary btn-save" style="float: right;">등록</button>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="results"></div>
<div id="description" style="display: none;">page-member-search</div>


