<!DOCTYPE html>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-primary card-outline">
        <div class="card-body">

          <h5>이벤트/광고 정보</h5>
          <hr>
          <div class="form-row">
            <div class="form-group col-md-1">
            <label for="member">이벤트명*</label>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group">
                <input id="title" type="text" class="form-control" value="" placeholder="이벤트명">
              </div>
            </div>
            <div class="form-group col-md-8"></div>


            <div class="form-group col-md-1">
            <label for="member">상태*</label>
            </div>
            <div class="form-group col-md-3">
              <div class="form-check">
              <label class="radio-inline">&nbsp;<input type="radio" id="status" name="status" value="사용" checked>&nbsp;&nbsp;사용&nbsp;&nbsp;</label>
              <label class="radio-inline">&nbsp;<input type="radio" id="status" name="status" value="중지">&nbsp;&nbsp;중지&nbsp;&nbsp;</label>
              </div>
            </div>
            <div class="form-group col-md-8"></div>


            <div class="form-group col-md-1">
            <label for="member">노출위치*</label>
            </div>
            <div class="form-group col-md-11">
              <div class="input-group">
                <label class="checkbox-inline">&nbsp;<input type="checkbox" id="fnotice" value="공지">&nbsp;&nbsp;공지/광고&nbsp;&nbsp;(가중치&nbsp;&nbsp;</label>
                <button id="btn-fweight" class="btn btn-outline-secondary dropdown-toggle btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">1</button>
                <div id="weightropUsed" class="dropdown-menu">
                  <a class="dropdown-item">1</a>
                  <a class="dropdown-item">2</a>
                  <a class="dropdown-item">3</a>
                </div>
                <label>&nbsp;&nbsp;)&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <label class="checkbox-inline">&nbsp;<input type="checkbox" id="fmain" value="메인">&nbsp;&nbsp;메인&nbsp;&nbsp;</label>
                <label class="checkbox-inline">&nbsp;<input type="checkbox" id="fevent" value="이벤트">&nbsp;&nbsp;이벤트&nbsp;&nbsp;</label>
              </div>
            </div>


            <div class="form-group col-md-1">
            <label for="member">노출대상*</label>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group dropdown">
                <div class="input-group-prepend"><div class="input-group-text">성별</div></div>

                <button id="btn-gender" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">전체</button>
                <div id="gender" class="dropdown-menu">
                  <a class="dropdown-item">전체</a>
                  <div role="separator" class="dropdown-divider"></div>
                  <a class="dropdown-item">남</a>
                  <a class="dropdown-item">녀</a>
                </div>
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group dropdown">
                <div class="input-group-prepend"><div class="input-group-text">나이</div></div>

                <button id="btn-age" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">전체</button>
                <div id="age" class="dropdown-menu">
                  <a class="dropdown-item">전체</a>
                  <div role="separator" class="dropdown-divider"></div>
                  <a class="dropdown-item">10대</a>
                  <a class="dropdown-item">20대</a>
                  <a class="dropdown-item">30대</a>
                  <a class="dropdown-item">40대</a>
                  <a class="dropdown-item">50대</a>
                  <a class="dropdown-item">60대</a>
                  <a class="dropdown-item">70대</a>
                </div>
              </div>
            </div>

            <div class="form-group col-md-5">
              <div class="input-group dropdown">
                <div class="input-group-prepend"><div class="input-group-text">지역</div></div>
                <button id="btn-area1" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">전체</button>
                <div id="area1" class="dropdown-menu">
                </div>&nbsp;&nbsp;
                <span>
                <button id="btn-area2" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">전체</button>
                <div id="area2" class="dropdown-menu">
                </div>
                </span>
              </div>
            </div>

            <div class="form-group col-md-1">
            <label for="member">이벤트기간*</label>
            </div>
            <div class="form-group col-md-5">
              <div class="input-group">
                <input type="text" id="date1" class="form-control datetimepicker-input" data-target="#date1" placeholder="YYYY-MM-DD" data-inputmask='"mask": "9999-99-99"' data-mask>
                <div class="input-group-append" data-target="#date1" data-toggle="datetimepicker">
                  <div class="input-subgroup-text"><i class="fa fa-calendar-alt fa-lg"></i></div>
                </div>
                <input type="text" id="date2" class="form-control datetimepicker-input date2-area" placeholder="YYYY-MM-DD" data-inputmask='"mask": "9999-99-99"' data-mask>
                <div class="input-group-append date2-area" data-target="#date2" data-toggle="datetimepicker">
                  <div class="input-subgroup-text"><i class="fa fa-calendar-alt fa-lg"></i></div>
                </div>
                </span>
              </div>
            </div>
            <div class="form-group col-md-6">
              <div class="input-group">
                <label class="checkbox-inline">&nbsp;<input type="checkbox" id="no-date2" value="종료일제한없음">&nbsp;&nbsp;종료일 제한없음&nbsp;&nbsp;</label>
              </div>
            </div>


            <div class="form-group col-md-1">
            <label for="file">이미지</label>
            </div>
            <div class="form-group col-md-11"></div>

            <div class="form-group offset-md-1 col-md-1 event-banner">
            <label for="file">이벤트배너*</label>
            </div>
            <div class="form-group col-md-3 event-banner">
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">1x</div></div>
                <input id="file1" name="file1" type="file" class="form-control" multiple/>
              </div>
            </div>
            <div class="form-group col-md-7 event-banner">&nbsp;&nbsp;<span class="form-comment">(.png)</span></div>

            <div class="form-group offset-md-2 col-md-3 event-banner">
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">2x</div></div>
                <input id="file2" name="file2" type="file" class="form-control" multiple/>
              </div>
            </div>
            <div class="form-group col-md-7 event-banner">&nbsp;&nbsp;<span class="form-comment">(@2x.png)</span></div>

            <div class="form-group offset-md-2 col-md-3 event-banner">
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">3x</div></div>
                <input id="file3" name="file3" type="file" class="form-control" multiple/>
              </div>
            </div>
            <div class="form-group col-md-7 event-banner">&nbsp;&nbsp;<span class="form-comment">(@3x.png)</span></div>


            <div class="form-group offset-md-1 col-md-1 main-banner">
            <label for="file">메인배너*</label>
            </div>
            <div class="form-group col-md-3 main-banner">
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">1x</div></div>
                <input id="file4" name="file1" type="file" class="form-control" multiple/>
              </div>
            </div>
            <div class="form-group col-md-7 main-banner">&nbsp;&nbsp;<span class="form-comment">(.png)</span></div>

            <div class="form-group offset-md-2 col-md-3 main-banner">
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">2x</div></div>
                <input id="file5" name="file2" type="file" class="form-control" multiple/>
              </div>
            </div>
            <div class="form-group col-md-7 main-banner">&nbsp;&nbsp;<span class="form-comment">(@2x.png)</span></div>

            <div class="form-group offset-md-2 col-md-3 main-banner">
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">3x</div></div>
                <input id="file6" name="file3" type="file" class="form-control" multiple/>
              </div>
            </div>
            <div class="form-group col-md-7 main-banner">&nbsp;&nbsp;<span class="form-comment">(@3x.png)</span></div>


            <div class="form-group offset-md-1 col-md-1">
            <label for="file">상세이미지*</label>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">1x</div></div>
                <input id="file7" name="file1" type="file" class="form-control" multiple/>
              </div>
            </div>
            <div class="form-group col-md-7">&nbsp;&nbsp;<span class="form-comment">(.png)</span></div>

            <div class="form-group offset-md-2 col-md-3">
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">2x</div></div>
                <input id="file8" name="file2" type="file" class="form-control" multiple/>
              </div>
            </div>
            <div class="form-group col-md-7">&nbsp;&nbsp;<span class="form-comment">(@2x.png)</span></div>

            <div class="form-group offset-md-2 col-md-3">
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">3x</div></div>
                <input id="file9" name="file3" type="file" class="form-control" multiple/>
              </div>
            </div>
            <div class="form-group col-md-7">&nbsp;&nbsp;<span class="form-comment">(@3x.png)</span></div>

          </div>


          <h5>앱 네비게이션 컬러 정보</h5>
          <hr>
          <div class="form-row main-banner">

            <div class="form-group col-md-1">
            <label for="member">이미지</label>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">상단</div></div>
                <input type="text" id="rgb1" class="form-control colorpicker-element" data-colorpicker-id="1" data-original-title="" title="" placeholder="#372a9a">
              </div>
            </div>
            <div class="form-group col-md-8"></div>

            <div class="form-group offset-md-1 col-md-3">
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">하단</div></div>
                <input type="text" id="rgb2" class="form-control colorpicker-element" data-colorpicker-id="1" data-original-title="" title="" placeholder="#372a9a">
              </div>
            </div>
            <div class="form-group col-md-8"></div>

          </div>


          <h5>쿠폰 정보</h5>
          <hr>
          <div class="form-row event-banner">

            <div class="form-group col-md-1">
            <label for="member">쿠폰명</label>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group">
                <button id="btn-admin-coupon1" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">선택</button>
                <div id="admin-coupon1" class="dropdown-menu">
                </div>
              </div>
            </div>
            <div class="form-group col-md-8"></div>

            <div class="form-group col-md-1">
            <label for="validity">유효기간</label>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group">
                <span id="validity1"></span> ~ <span id="validity2"></span>
              </div>
            </div>
            <div class="form-group col-md-8"></div>

          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <div id="results"></div>
              <div id="pageid" style="display: none;">admin-event-register</div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <button id="list"     class="btn btn-default" style="float: left;"  >목록</button>
              <button id="register" class="btn btn-default" style="float: right;" >등록</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

