<!DOCTYPE html>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-primary card-outline">
        <div class="card-body">
        <form>
          <table class="table">
          <tbody>
            <tr>
              <th class="label">가맹점</th>
              <td>가맹점</td>
              <td><input class="input_member" type="text"></td>
              <td>상태</td>
              <td>
              <select class="form-select" aria-label="Default select example">
                <option value="전체">전체</option>
                <option value="가입">가입</option>
                <option value="해지">해지</option>
              </select>
              </td>
              <td><span>수정일</td>
              <td>
                  <span class="input-group">
                    <input id="coupon-begin-date" type="text" class="input_date form-control float-right" value="" placeholder="YYYY.MM.DD">
                    <div class="input-group-append" data-target="#coupon-begin-date" data-toggle="datetimepicker"><div class="input-subgroup-text"><i class="fa fa-calendar-alt fa-lg"></i></div></div>

                    <input id="coupon-end-date" type="text" class="input_date form-control float-right" value="" placeholder="YYYY.MM.DD">
                    <div class="input-group-append" data-target="#coupon-end-date" data-toggle="datetimepicker"><div class="input-subgroup-text"><i class="fa fa-calendar-alt fa-lg"></i></div></div>
                  </span>
              </td>
            </tr>
          </tbody>
          <table>
          <button id="form-profile" type="submit" class="btn btn-primary btn-save" style="float: right;">검색</button>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="results"></div>
<div id="description" style="display: none;">page-member-search</div>


