<!DOCTYPE html>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-primary card-outline">
        <div class="card-body">

          <div class="form-row">
            <div class="form-group col-md-2">
            <label for="member">대표이미지*</label>
            </div>
            <div class="form-group col-md-5">
              <div class="row">
              <div class="col-md-3"><img id="img1" src="" class="img-fluid"></div>
              <div class="col-md-4"><img id="img2" src="" class="img-fluid"></div>
              <div class="col-md-5"><img id="img3" src="" class="img-fluid"></div>
              </div>
            </div>
            <div class="form-group col-md-5"></div>

            <div class="form-group offset-md-2 col-md-3">
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">1x</div></div>
                <input id="file1" type="file" class="form-control" multiple/>
              </div>
            </div>
            <div class="form-group col-md-7">&nbsp;&nbsp;<span class="form-comment">(.png)</span></div>

            <div class="form-group offset-md-2 col-md-3">
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">2x</div></div>
                <input id="file2" type="file" class="form-control" multiple/>
              </div>
            </div>
            <div class="form-group col-md-7">&nbsp;&nbsp;<span class="form-comment">(@2x.png)</span></div>

            <div class="form-group offset-md-2 col-md-3">
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">3x</div></div>
                <input id="file3" type="file" class="form-control" multiple/>
              </div>
            </div>
            <div class="form-group col-md-4">&nbsp;&nbsp;<span class="form-comment">(@3x.png)</span></div>
            <div class="form-group col-md-3">&nbsp;&nbsp;<button id="delete" class="btn btn-default">이미지삭제</button></div>
          </div>

          <hr>
          <div class="form-row">
            <div class="form-group col-md-1" hidden>
            <label for="member">서브이미지</label>
            </div>
            <div class="form-group col-md-1" hidden>
            <label for="member">서브1</label>
            </div>
            <div class="form-group col-md-5" hidden>
              <div class="row">
              <div class="col-md-3"><img id="img4" src="" class="img-fluid"></div>
              <div class="col-md-4"><img id="img5" src="" class="img-fluid"></div>
              <div class="col-md-5"><img id="img6" src="" class="img-fluid"></div>
              </div>
            </div>
            <div class="form-group col-md-5" hidden></div>

            <div class="form-group offset-md-2 col-md-3" hidden>
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">1x</div></div>
                <input id="file4" type="file" class="form-control" multiple/>
              </div>
            </div>
            <div class="form-group col-md-7" hidden>&nbsp;&nbsp;<span class="form-comment">(.png)</span></div>

            <div class="form-group offset-md-2 col-md-3" hidden>
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">2x</div></div>
                <input id="file5" type="file" class="form-control" multiple/>
              </div>
            </div>
            <div class="form-group col-md-7" hidden>&nbsp;&nbsp;<span class="form-comment">(@2x.png)</span></div>

            <div class="form-group offset-md-2 col-md-3" hidden>
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">3x</div></div>
                <input id="file6" type="file" class="form-control" multiple/>
              </div>
            </div>
            <div class="form-group col-md-7" hidden>&nbsp;&nbsp;<span class="form-comment">(@3x.png)</span></div>

            <div class="form-group offset-md-1 col-md-1" hidden>
            <label for="member">서브2</label>
            </div>
            <div class="form-group col-md-5" hidden>
              <div class="row">
              <div class="col-md-3"><img id="img7" src="" class="img-fluid"></div>
              <div class="col-md-4"><img id="img8" src="" class="img-fluid"></div>
              <div class="col-md-5"><img id="img9" src="" class="img-fluid"></div>
              </div>
            </div>
            <div class="form-group col-md-5" hidden></div>

            <div class="form-group offset-md-2 col-md-3" hidden>
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">1x</div></div>
                <input id="file7" type="file" class="form-control" multiple/>
              </div>
            </div>
            <div class="form-group col-md-7" hidden>&nbsp;&nbsp;<span class="form-comment">(.png)</span></div>

            <div class="form-group offset-md-2 col-md-3" hidden>
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">2x</div></div>
                <input id="file8" type="file" class="form-control" multiple/>
              </div>
            </div>
            <div class="form-group col-md-7" hidden>&nbsp;&nbsp;<span class="form-comment">(@2x.png)</span></div>

            <div class="form-group offset-md-2 col-md-3" hidden>
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">3x</div></div>
                <input id="file9" type="file" class="form-control" multiple/>
              </div>
            </div>
            <div class="form-group col-md-7" hidden>&nbsp;&nbsp;<span class="form-comment">(@3x.png)</span></div>

            <div class="form-group offset-md-1 col-md-1" hidden>
            <label for="member">서브3</label>
            </div>
            <div class="form-group col-md-5" hidden>
              <div class="row">
              <div class="col-md-3"><img id="img10" src="" class="img-fluid"></div>
              <div class="col-md-4"><img id="img11" src="" class="img-fluid"></div>
              <div class="col-md-5"><img id="img12" src="" class="img-fluid"></div>
              </div>
            </div>
            <div class="form-group col-md-5" hidden></div>

            <div class="form-group offset-md-2 col-md-3" hidden>
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">1x</div></div>
                <input id="file10" type="file" class="form-control" multiple/>
              </div>
            </div>
            <div class="form-group col-md-7" hidden>&nbsp;&nbsp;<span class="form-comment">(.png)</span></div>

            <div class="form-group offset-md-2 col-md-3" hidden>
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">2x</div></div>
                <input id="file11" type="file" class="form-control" multiple/>
              </div>
            </div>
            <div class="form-group col-md-7" hidden>&nbsp;&nbsp;<span class="form-comment">(@2x.png)</span></div>

            <div class="form-group offset-md-2 col-md-3" hidden>
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">3x</div></div>
                <input id="file12" type="file" class="form-control" multiple/>
              </div>
            </div>
            <div class="form-group col-md-7" hidden>&nbsp;&nbsp;<span class="form-comment">(@3x.png)</span></div>

          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <span style="float: right;">
              <button id="search" class="btn btn-default" hidden>검색</button>
              <button id="update" class="btn btn-default">저장</button>
              </span>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <div id="results"></div>
              <div id="pageid" style="display: none;">member-event-search</div>
            </div>
          </div>

      </div>
    </div>
  </div>
</div>

