<!DOCTYPE html>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-primary card-outline">
        <div class="card-body">

          <div class="form-row">
            <div class="form-group col-md-2">
            <label for="member">대표이미지*</label>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">1x</div></div>
                <input id="file1" name="file1" type="file" class="form-control" multiple/>
              </div>
            </div>
            <div class="form-group col-md-7 event-banner">&nbsp;&nbsp;<span class="form-comment">(.png)</span></div>

            <div class="form-group offset-md-2 col-md-3 event-banner">
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">2x</div></div>
                <input id="file2" name="file2" type="file" class="form-control" multiple/>
              </div>
            </div>
            <div class="form-group col-md-7 event-banner">&nbsp;&nbsp;<span class="form-comment">(@2x.png)</span></div>

            <div class="form-group offset-md-2 col-md-3 event-banner">
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">3x</div></div>
                <input id="file3" name="file3" type="file" class="form-control" multiple/>
              </div>
            </div>
            <div class="form-group col-md-7 event-banner">&nbsp;&nbsp;<span class="form-comment">(@3x.png)</span></div>
          </div>

          <hr>
          <div class="form-row">
            <div class="form-group col-md-1">
            <label for="member">서브이미지</label>
            </div>
            <div class="form-group col-md-1">
            <label for="member">서브1</label>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">1x</div></div>
                <input id="file1" name="file4" type="file" class="form-control" multiple/>
              </div>
            </div>
            <div class="form-group col-md-7 event-banner">&nbsp;&nbsp;<span class="form-comment">(.png)</span></div>

            <div class="form-group offset-md-2 col-md-3 event-banner">
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">2x</div></div>
                <input id="file2" name="file5" type="file" class="form-control" multiple/>
              </div>
            </div>
            <div class="form-group col-md-7 event-banner">&nbsp;&nbsp;<span class="form-comment">(@2x.png)</span></div>

            <div class="form-group offset-md-2 col-md-3 event-banner">
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">3x</div></div>
                <input id="file3" name="file6" type="file" class="form-control" multiple/>
              </div>
            </div>
            <div class="form-group col-md-7 event-banner">&nbsp;&nbsp;<span class="form-comment">(@3x.png)</span></div>

            <div class="form-group offset-md-1 col-md-1">
            <label for="member">서브2</label>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">1x</div></div>
                <input id="file1" name="file7" type="file" class="form-control" multiple/>
              </div>
            </div>
            <div class="form-group col-md-7 event-banner">&nbsp;&nbsp;<span class="form-comment">(.png)</span></div>

            <div class="form-group offset-md-2 col-md-3 event-banner">
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">2x</div></div>
                <input id="file2" name="file8" type="file" class="form-control" multiple/>
              </div>
            </div>
            <div class="form-group col-md-7 event-banner">&nbsp;&nbsp;<span class="form-comment">(@2x.png)</span></div>

            <div class="form-group offset-md-2 col-md-3 event-banner">
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">3x</div></div>
                <input id="file3" name="file9" type="file" class="form-control" multiple/>
              </div>
            </div>
            <div class="form-group col-md-7 event-banner">&nbsp;&nbsp;<span class="form-comment">(@3x.png)</span></div>

            <div class="form-group offset-md-1 col-md-1">
            <label for="member">서브3</label>
            </div>
            <div class="form-group col-md-3">
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">1x</div></div>
                <input id="file1" name="file10" type="file" class="form-control" multiple/>
              </div>
            </div>
            <div class="form-group col-md-7 event-banner">&nbsp;&nbsp;<span class="form-comment">(.png)</span></div>

            <div class="form-group offset-md-2 col-md-3 event-banner">
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">2x</div></div>
                <input id="file2" name="file11" type="file" class="form-control" multiple/>
              </div>
            </div>
            <div class="form-group col-md-7 event-banner">&nbsp;&nbsp;<span class="form-comment">(@2x.png)</span></div>

            <div class="form-group offset-md-2 col-md-3 event-banner">
              <div class="input-group">
                <div class="input-group-prepend"><div class="input-group-text">3x</div></div>
                <input id="file3" name="file12" type="file" class="form-control" multiple/>
              </div>
            </div>
            <div class="form-group col-md-7 event-banner">&nbsp;&nbsp;<span class="form-comment">(@3x.png)</span></div>

          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <span style="float: right;">
              <button id="update" class="btn btn-default">저장</button>
              </span>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <div id="results"></div>
              <div id="pageid" style="display: none;">member-event-search</div>
            </div>
          </div>

      </div>
    </div>
  </div>
</div>

