<!DOCTYPE html>
<aside id="main-sidebar" class="main-sidebar sidebar-dark-primary elevation-4">
  <a href="/" class="brand-link">
    <img src="/logo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light"><div id="sidebar-title">스마트영수증</div></span>
  </a>

  <div class="sidebar">
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <li class="nav-item" id="sb-member-dashboard"><a href="/member" id="member-search" class="nav-child nav-link"><i class="fas fa-tachometer-alt nav-icon"></i><p>대시보드</p></a></li>

        <li class="nav-item" id="sb-member-coupon"><a href="javascript:void(0);" class="nav-parent nav-link "><i class="fas fa-ticket-alt nav-icon"></i><p>쿠폰 관리<i class="right fas fa-angle-left"></i></p></a>
          <ul class="nav nav-treeview">
            <li class="nav-item"><a href="/member/coupon/search" id="coupon-search" class="nav-child nav-link"><i class="fas fa-search nav-icon"></i><p>&nbsp;&nbsp;&nbsp;&nbsp;쿠폰 조회</p></a></li>
            <li class="nav-item"><a href="/member/coupon/register" id="coupon-register" class="nav-child nav-link"><i class="fas fa-feather-alt nav-icon"></i><p>&nbsp;&nbsp;&nbsp;&nbsp;쿠폰 등록</p></a></li>
          </ul>
        </li>

        <li class="nav-item" id="sb-member-stamp"><a href="javascript:void(0);" class="nav-parent nav-link "><i class="fas fa-stamp nav-icon"></i><p>스탬프 관리<i class="right fas fa-angle-left"></i></p></a>
          <ul class="nav nav-treeview">
            <li class="nav-item"><a href="/member/stamp/search" id="coupon-search" class="nav-child nav-link"><i class="fas fa-search nav-icon"></i><p>&nbsp;&nbsp;&nbsp;&nbsp;스탬프 조회</p></a></li>
          </ul>
        </li>

        <li class="nav-item" id="sb-member-event"><a href="javascript:void(0);" class="nav-parent nav-link "><i class="fas fa-comment-medical nav-icon"></i><p>광고 관리<i class="right fas fa-angle-left"></i></p></a>
          <ul class="nav nav-treeview">
            <li class="nav-item"><a href="/member/event/search" id="coupon-search" class="nav-child nav-link"><i class="fas fa-search nav-icon"></i><p>&nbsp;&nbsp;&nbsp;&nbsp;광고 조회</p></a></li>
          </ul>
        </li>

        <li class="nav-item" id="sb-member-detail"><a href="/member/detail" id="member-search" class="nav-child nav-link"><i class="fas fa-info nav-icon"></i><p>상세정보조회</p></a></li>

      </ul>
    </nav>
  </div>
</aside>
