<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a href="/" class="brand-link">
    <img src="/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light"><div id="sidebar-title">스마트영수증</div></span>
  </a>

  <div class="sidebar">
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <li class="nav-item"><a href="#" class="nav-parent nav-link active"><p>가맹점쿠폰관리<i class="right fas fa-angle-left"></i></p></a>
          <ul class="nav nav-treeview">
            <li class="nav-item"><a href="#" class="nav-child nav-link active"><i class="far fa-circle nav-icon"></i><p>가맹점쿠폰조회</p></a></li>
            <li class="nav-item"><a href="#" class="nav-child nav-link"><i class="far fa-circle nav-icon"></i><p>가맹점쿠폰등록</p></a></li>
          </ul>
        </li>

        <li class="nav-item"><a href="#" class="nav-parent nav-link "></i><p>전단지/스탬프관리<i class="right fas fa-angle-left"></i></p></a>
          <ul class="nav nav-treeview">
            <li class="nav-item"><a href="#" class="nav-child nav-link"><i class="far fa-circle nav-icon"></i><p>전단지/스탬프조회</p></a></li>
          </ul>
        </li>

        <li class="nav-item"><a href="#" class="nav-parent nav-link "><p>가맹점관리<i class="right fas fa-angle-left"></i></p></a>
          <ul class="nav nav-treeview">
            <li class="nav-item"><a href="#" class="nav-child nav-link"><i class="far fa-circle nav-icon"></i><p>가맹점조회</p></a></li>
            <li class="nav-item"><a href="#" class="nav-child nav-link"><i class="far fa-circle nav-icon"></i><p>가맹점등록</p></a></li>
          </ul>
        </li>

        <li class="nav-item"><a href="#" class="nav-parent nav-link "><p>사용자관리<i class="right fas fa-angle-left"></i></p></a>
          <ul class="nav nav-treeview">
            <li class="nav-item"><a href="#" class="nav-child nav-link"><i class="far fa-circle nav-icon"></i><p>사용자조회</p></a></li>
          </ul>
        </li>

        <li class="nav-item"><a href="#" class="nav-parent nav-link "><p>시스템쿠폰관리<i class="right fas fa-angle-left"></i></p></a>
          <ul class="nav nav-treeview">
            <li class="nav-item"><a href="#" class="nav-child nav-link"><i class="far fa-circle nav-icon"></i><p>시스템쿠폰조회</p></a></li>
            <li class="nav-item"><a href="#" class="nav-child nav-link"><i class="far fa-circle nav-icon"></i><p>시스템쿠폰등록</p></a></li>
          </ul>
        </li>

        <li class="nav-item"><a href="#" class="nav-parent nav-link "><p>이벤트광고관리<i class="right fas fa-angle-left"></i></p></a>
          <ul class="nav nav-treeview">
            <li class="nav-item"><a href="#" class="nav-child nav-link"><i class="far fa-circle nav-icon"></i><p>이벤트광고조회</p></a></li>
            <li class="nav-item"><a href="#" class="nav-child nav-link"><i class="far fa-circle nav-icon"></i><p>이벤트광고등록</p></a></li>
          </ul>
        </li>

        <li class="nav-item"><a href="#" class="nav-parent nav-link "><p>이벤트관리<i class="right fas fa-angle-left"></i></p></a>
          <ul class="nav nav-treeview">
            <li class="nav-item"><a href="#" class="nav-child nav-link"><i class="far fa-circle nav-icon"></i><p>이벤트조회</p></a></li>
            <li class="nav-item"><a href="#" class="nav-child nav-link"><i class="far fa-circle nav-icon"></i><p>이벤트등록</p></a></li>
          </ul>
        </li>

        <li class="nav-item"><a href="#" class="nav-parent nav-link "><p>공지사항관리<i class="right fas fa-angle-left"></i></p></a>
          <ul class="nav nav-treeview">
            <li class="nav-item"><a href="#" class="nav-child nav-link"><i class="far fa-circle nav-icon"></i><p>공지사항조회</p></a></li>
            <li class="nav-item"><a href="#" class="nav-child nav-link"><i class="far fa-circle nav-icon"></i><p>공지사항등록</p></a></li>
          </ul>
        </li>

        <li class="nav-item"><a href="#" class="nav-parent nav-link "><p>관리자관리<i class="right fas fa-angle-left"></i></p></a>
          <ul class="nav nav-treeview">
            <li class="nav-item"><a href="#" class="nav-child nav-link"><i class="far fa-circle nav-icon"></i><p>관리자조회</p></a></li>
            <li class="nav-item"><a href="#" class="nav-child nav-link"><i class="far fa-circle nav-icon"></i><p>관리자등록</p></a></li>
          </ul>
        </li>

      </ul>
    </nav>
  </div>
</aside>
