<!DOCTYPE html>
<div class="container-fluid">
  <div class="row">
    <div class="offset-lg-2 col-lg-8">
      <div class="card">
        <div class="card-body"><h5 class="m-0"> 
            <div class="form-group col-md-12">
              <div class="input-group">
            <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-chevron-left"></i></span></div>
                <input type="text" id="date1" class="form-control datetimepicker-input" data-target="#date1" placeholder="YYYY-MM-DD" data-inputmask='"mask": "9999-99-99"' data-mask>
                <div class="input-group-append" data-target="#date1" data-toggle="datetimepicker">
                  <div class="input-subgroup-text"><i class="fa fa-calendar-alt fa-lg"></i></div>
                </div>
            <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-chevron-right"></i></span></div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <div class="card card-primary card-outline">
        <div class="card-header"><h5 class="m-0">사용자</h5></div>
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </p>
          <a href="#" class="card-link">자세히보기 <i class="right fas fa-angle-double-right"></i></a>
        </div>
      </div><!-- /.card -->
    </div>

    <div class="col-lg-3">
      <div class="card card-primary card-outline">
        <div class="card-header"><h5 class="m-0">가맹점</h5></div>
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </p>
          <a href="#" class="card-link">자세히보기 <i class="right fas fa-angle-double-right"></i></a>
        </div>
      </div><!-- /.card -->
    </div>

    <div class="col-lg-3">
      <div class="card card-primary card-outline">
        <div class="card-header"><h5 class="m-0">관리자</h5></div>
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </p>
          <a href="#" class="card-link">자세히보기 <i class="right fas fa-angle-double-right"></i></a>
        </div>
      </div><!-- /.card -->
    </div>

    <div class="col-lg-3">
      <div class="card card-primary card-outline">
        <div class="card-header"><h5 class="m-0">이벤트/광고 쿠폰 사용</h5></div>
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </p>
          <a href="#" class="card-link">자세히보기 <i class="right fas fa-angle-double-right"></i></a>
        </div>
      </div><!-- /.card -->
    </div>

    <div class="col-lg-3">
      <div class="card card-primary card-outline">
        <div class="card-header"><h5 class="m-0">거래금액</h5></div>
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </p>
        </div>
      </div><!-- /.card -->
    </div>
    <div class="col-lg-3">
      <div class="card card-primary card-outline">
        <div class="card-header"><h5 class="m-0">쿠폰 사용</h5></div>
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </p>
        </div>
      </div><!-- /.card -->
    </div>
    <div class="col-lg-3">
      <div class="card card-primary card-outline">
        <div class="card-header"><h5 class="m-0">스탬프</h5></div>
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </p>
        </div>
      </div><!-- /.card -->
    </div>

  </div>
  <!-- /.row -->
</div><!-- /.container-fluid -->
