<!DOCTYPE html>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-primary card-outline">
        <div class="card-body">
        <form>
          <table class="table">
          <tbody>
            <tr>
              <th class="label">ID (이메일)</th>
              <td><input class="input_email" type="text"></td>
            </tr>
            <tr>
              <th class="label">이름</th>
              <td><input class="input_username" type="text"></td>
            </tr>
            <tr>
              <th class="label">휴대폰번호</th>
              <td><input class="input_phone_local" type="text">&nbsp;-&nbsp;<input class="input_phone" type="text">&nbsp;-&nbsp;<input class="input_phone" type="text"></td>

              </div>
            </tr>
            <tr>
              <th class="label">전화번호</th>
              <td><input class="input_phone_local" type="text">&nbsp;-&nbsp;<input class="input_phone" type="text">&nbsp;-&nbsp;<input class="input_phone" type="text"></td>
            </tr>
            <tr>
              <th class="label">권한</th>
              <td>
              <select class="form-select" aria-label="Default select example">
                <option value="시스템관리자">시스템관리자</option>
                <option value="운영관리자">운영관리자</option>
                <option value="서비스관리자">서비스관리자</option>
                <option value="가맹관리자">가맹관리자</option>
              </select>
              </td>
            </tr>
            <tr>
              <th class="label">사용여부</th>
              <td>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">사용</label>
              </div>
              </td>
            </tr>
          </tbody>
          <table>
          <button id="form-profile" type="submit" class="btn btn-primary btn-save" style="float: right;">저장</button>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="description" style="display: none;">page-member-search</div>

