<!DOCTYPE html>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card card-primary card-outline">
          <div class="card-body">
            <p class="card-text">

<form>
<div class="form-row"> 
  <div class="form-group col-md-1">
  <label for="coupon">관리자</label>
  </div>

  <div class="form-group col-md-3">
    <div class="input-group">
      <div class="input-group-prepend"><div class="input-subgroup-text">권한 | </div></div>
      <button id="btn-member-user-auth" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">권한전체</button>
      <div id="drop-member-user-auth" class="dropdown-menu">
        <a class="dropdown-item" href="#">권한전체</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">시스템관리자</a>
        <a class="dropdown-item" href="#">운영관리자</a>
        <a class="dropdown-item" href="#">서비스관리자</a>
        <a class="dropdown-item" href="#">가맹관리자</a>
      </div>
    </div>
  </div>
  <div class="form-group offset-md-1 col-md-3">
    <div class="input-group">
      <div class="input-group-prepend"><div class="input-subgroup-text">사용여부 |</div></div>
      <button id="btn-member-user-use" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">사용</button>
      <div id="drop-member-user-use" class="dropdown-menu">
        <a class="dropdown-item" href="#">사용</a>
        <a class="dropdown-item" href="#">중지</a>
      </div>
    </div>
  </div>
  <div class="form-group offset-md-1 col-md-3">
    <div class="input-group">
      <div class="input-group-prepend"><div class="input-subgroup-text">관리자정보 |</div></div>
      <input id="email" type="text" class="form-control" name="email" value="" placeholder="email">
    </div>
  </div>

  <div class="form-group offset-md-11 col-md-1">
    <button name="search" id="button-search" type="button" class="btn btn-primary w-100">검색</button>
  </div>
</form>

<div class="col-md-12">
  <div id="description" style="display: none;">page-member-user-search</div>
  <hr>
  <div id="result"></div>
</div>

            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

